name: build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: '1.14.x'
      id: go
    - name: Build Linux
      run: |
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -v -o build-linux/tts-deckconverter -ldflags="-s -w" ./cmd/tts-deckconverter
    - name: Upload Linux executable
      uses: actions/upload-artifact@v1.0.0
      with:
        name: tts-deckconverter-linux-amd64
        path: build-linux
    - name: Build Darwin
      run: |
        CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -v -o build-darwin/tts-deckconverter -ldflags="-s -w" ./cmd/tts-deckconverter
    - name: Upload Darwin executable
      uses: actions/upload-artifact@v1.0.0
      with:
        name: tts-deckconverter-darwin-amd64
        path: build-darwin
    - name: Build Windows
      run: |
        CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -v -o build-windows/tts-deckconverter.exe -ldflags="-s -w" ./cmd/tts-deckconverter
    - name: Upload Windows executable
      uses: actions/upload-artifact@v1.0.0
      with:
        name: tts-deckconverter-windows-amd64
        path: build-windows
